.Issue {
    display: flex;
    justify-content: center;
    margin: 2em;
}

.content {
    margin-bottom: 2em;
    width: 1000px;
}

.searchTitle {
    width: 100%;
    margin-bottom: 2em;
    margin-top: 2em;
}

.page {
    display: flex;
    flex-direction: row-reverse;
}