.query {
    border: 1px solid grey;
    width: 1200px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red
}

.details {
    font-size: 12px;
    margin-top: 1em;
    bottom: 0;
}